.btn-blue {
	background-color: lightgrey;
	padding: 15px 20px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
}

.btn-blue:hover {
	background-color:lightslategray;
	color: black;
	font-weight: bold;
}


